@charset "UTF-8";
/*
  ./scss/style.scss
  Style - Fichier de surchage
  ------------------------------------------------------------------------------
 */
/*
   .scss/framework/_variables.scss
   Variables du framework
   ------------------------------------------------------------------------------
  */
/*----- POLICES -----*/
/*----- COULEURS -----*/
/*----- DIMENSIONS DES CONTENUS -----*/
/*----- MENU HORIZONTAL -----*/
/*----- MENU LATERAL -----*/
/*----- MENU HAMBURGER -----*/
/*----- MENU VERTICAL -----*/
/*----- MENU COVER -----*/
/*----- MENU - PAGINATION -----*/
/*----- BOITES -----*/
/*----- GRILLES -----*/
/*----- SLIDERS -----*/
/*----- FORMULAIRES -----*/
/*
  ./scss/framework/modules/_mixins.scss
  Module des mixins
  ------------------------------------------------------------------------------
 */
/*
  ./scss/framework/modules/_animations.scss
  Module des animations
  ------------------------------------------------------------------------------
 */
/*----- TYPES ANIMATIONS -----*/
/*-- Envol fusée --*/
.animationFusee:hover {
  animation: animationFusee 1000ms;
  opacity: 0;
  transition: opacity 0.4s ease 0.2s;
}

@keyframes animationFusee {
  0% {
    transform: translateX(2rem) translateY(3rem) translate(-50%, -50%);
  }
  100% {
    transform: translateX(16rem) translateY(-9.5rem) translate(-50%, -50%);
  }
}

/*-- Shake --*/
.animationShake:hover {
  animation: animationShake 100ms infinite;
}

@keyframes animationShake {
  0% {
    transform: translateX(40px) translateY(40px) translate(-50%, -50%);
  }
  100% {
    transform: translateX(50px) translateY(40px) translate(-50%, -50%);
  }
}

/*-- Boite sur image au survol --*/
.animation-boite-opacite a {
  position: relative;
  display: block;
}

.animation-boite-opacite .ecran {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 94%;
  background: #000 url("../media/zoom.png") center center no-repeat;
  z-index: 99;
  opacity: 0;
  transition: opacity .5s ease;
}

.animation-boite-opacite .ecran:hover {
  opacity: 0.5;
}

/*-- Animation du menu lateral au clique --*/
.animation-menu-lateral .top, .animation-menu-lateral .center, .animation-menu-lateral .bottom {
  transition: all 0.35s;
}

.animation-menu-lateral.active .top {
  top: 14px;
  transform: rotate(45deg);
  transition: all 0.5s;
}

.animation-menu-lateral.active .center {
  transform: rotate(-45deg);
  transition: all 0.5s;
}

.animation-menu-lateral.active .bottom {
  opacity: 0;
  transition: opacity 0.35s;
}

/* --- effet typewriter : curseur --- */
.curseur {
  border-right: .05em solid;
  animation: caret 1s steps(1) infinite;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}

/*-- Bonjour --*/
.bonjour {
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  text-align: center;
  position: absolute;
  color: #e6e6e6;
  font-family: "Montserrat", sans-serif;
  font-size: 10rem;
}

/*-- Animation du menu hamburger au clique --*/
.anim-menu-hamburger .top, .anim-menu-hamburger .center, .anim-menu-hamburger .bottom {
  transition: all 0.35s;
}

.anim-menu-hamburger.active .top {
  top: 14px;
  transform: rotate(45deg);
  transition: all 0.5s;
}

.anim-menu-hamburger.active .center {
  transform: rotate(-45deg);
  transition: all 0.5s;
}

.anim-menu-hamburger.active .bottom {
  opacity: 0;
  transition: opacity 0.35s;
}

/* ----------------------------------------------------
 SPECIFICATIONS GENERALES (valeurs par défaut)
 ----------------------------------------------------
*/
body {
  color: #000;
  font-family: "Raleway", sans-serif;
  margin: 0;
}

header {
  padding-top: 2rem;
}

@media screen and (min-width: 0px) {
  main {
    padding-top: 2rem;
  }
}

@media screen and (min-width: 768px) {
  main {
    padding-top: 4rem;
  }
}

@media screen and (min-width: 0px) {
  footer {
    width: 100%;
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  footer {
    position: absolute;
    width: 100%;
    bottom: 0;
  }
}

/* ----------------------------------------------------
   OBJETS PARTICULIERS
   ----------------------------------------------------
*/
/*----- HEADER ----*/
#nom h1, #nom h2 {
  z-index: 998;
  position: relative;
  display: block;
}

#menu {
  padding-top: .5rem;
}

/*----- MAIN ----*/
#slider {
  width: 100%;
  position: relative;
  overflow: hidden;
}

#slider ul {
  list-style: none;
  display: flex;
  opacity: 1;
  padding: 0;
  margin: 0;
  width: 600%;
  position: relative;
}

#slider li {
  flex-basis: 100%;
}

.slide {
  height: 100%;
  margin: auto 0;
}

@media screen and (min-width: 0px) {
  .slide {
    padding: 0;
  }
}

@media screen and (min-width: 768px) {
  .slide {
    padding: 2.5rem 0;
  }
}

#progress {
  display: inline-block;
  background: #e6e6e6;
  border-radius: 6px;
  height: 3px;
  width: 150px;
  margin: 1rem .5rem 0 0;
}

#progress > div {
  width: 0;
  height: 100%;
  border-radius: 6px;
}

.imgProjet {
  position: relative;
  width: 100%;
  height: auto;
  margin: 0;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

@media screen and (min-width: 768px) {
  .imgProjet:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
}

#detailProjet {
  position: relative;
}

@media screen and (min-width: 0px) {
  #detailProjet {
    padding-left: 0;
  }
}

@media screen and (min-width: 768px) {
  #detailProjet {
    padding-left: 2rem;
  }
}

@media screen and (min-width: 992px) {
  #detailProjet {
    padding-left: 3rem;
  }
}

#detailProjet .nomProjet {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
}

@media screen and (min-width: 0px) {
  #detailProjet .nomProjet {
    margin: 0 0 .5rem 0;
  }
}

@media screen and (min-width: 768px) {
  #detailProjet .nomProjet {
    margin: 1.5rem 0 .5rem 0;
  }
}

@media screen and (min-width: 992px) {
  #detailProjet .nomProjet {
    margin: 2.5rem 0 .5rem 0;
  }
}

@media screen and (min-width: 1200px) {
  #detailProjet .nomProjet {
    margin: 5rem 0 .5rem 0;
  }
}

#detailProjet .nombreProjet {
  color: #999999;
  display: inline-block;
}

#detailProjet .nombreProjet span {
  color: #000;
}

#detailProjet .bar {
  width: 100px;
  height: 5px;
  display: inline-block;
  margin-right: 5px;
}

#detailProjet .description {
  padding-top: 1rem;
}

#detailProjet .bouton {
  border: 1px solid #999999;
  margin: 1rem 0 2rem;
  padding: .5rem .2rem;
  width: 150px;
  text-align: center;
  text-transform: uppercase;
}

#detailProjet .bouton a {
  color: #999999;
  text-decoration: none;
}

#detailProjet .bouton:hover {
  border: 1px solid #000;
}

#detailProjet .bouton:hover a {
  color: #000;
}

#detailProjet .version {
  margin-bottom: 2rem;
}

#detailProjet .version a {
  text-decoration: none;
}

#detailProjet .version a:hover {
  font-weight: bolder;
}

#detailProjet .detail p {
  display: inline-block;
  background-color: #e6e6e6;
  padding: .2rem .5rem;
  margin-top: 0;
  text-transform: uppercase;
}

/*----- FOOTER ----*/
#pagination {
  position: fixed;
}

#pagination ul {
  position: relative;
  bottom: 5rem;
  z-index: 9;
}

#pagination li {
  position: relative;
  float: left;
  list-style: none;
  width: 20px;
  height: 20px;
  margin: 0px;
  padding: 0px;
  cursor: pointer;
  z-index: 9;
  -webkit-transition: all 0.05s cubic-bezier(0.615, 0.19, 0.305, 0.91) 0s;
  transition: all 0.05s cubic-bezier(0.615, 0.19, 0.305, 0.91) 0s;
}

#pagination li:hover a {
  background: #000;
  width: 3px;
}

#pagination li:hover a div {
  opacity: 1;
}

#pagination li.active a {
  background: #000;
  width: 3px;
}

#pagination a {
  display: block;
  background: #999999;
  width: 1px;
  margin: auto;
  height: 100%;
  z-index: 9;
}

#pagination .page-num {
  position: absolute;
  top: -10px;
  left: 2px;
  color: #000;
  font-size: .8rem;
  -webkit-transform: rotate(-90deg) translateX(100%);
  transform: rotate(-90deg) translateX(100%);
  opacity: 0;
  -webkit-transition: all 0.125s cubic-bezier(0.615, 0.19, 0.305, 0.91) 0s;
  transition: all 0.125s cubic-bezier(0.615, 0.19, 0.305, 0.91) 0s;
}

#pagine {
  margin: 1rem 0 3rem;
}

#pagine .prev, #pagine .next {
  display: inline;
  margin: 0 1rem;
  border: 1px solid #b3b3b3;
  border-radius: 100%;
  padding: .8rem 1.5rem .8rem 1.3rem;
  font-size: 2rem;
  color: #b3b3b3;
}

#pagine .prev:hover, #pagine .next:hover {
  color: #000;
  border: 1px solid #000;
}

#pagine .prev i {
  transform: translateX(-10%) translateY(0%);
}

#pagine .next i {
  transform: translateX(15%) translateY(0%);
}

/*--- ABOUT ---*/
#about {
  color: white;
}

#about .nom, #about .web {
  margin-top: 0;
  margin-bottom: 0;
}

#about .web {
  text-transform: uppercase;
  padding: .5rem 0 2rem;
}

#about .des, #about .dev {
  position: relative;
  margin: auto;
  width: 65px;
  height: 65px;
  border: 2px solid #83caf2;
  border-radius: 50%;
  padding: 1.2rem;
}

#about .des i, #about .dev i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: #83caf2;
  font-size: 1.5rem;
}

#about .boite {
  padding: 0 0 0 .5rem;
  margin: 1rem 0 1rem 1rem;
  border-left: 2px solid #83caf2;
}

#about .boite .padd1 {
  padding: .5rem 0;
  color: #b3b3b3;
}

#about .boite .padd2 {
  padding: .5rem 0;
}

#about .titre {
  text-transform: uppercase;
  color: #83caf2;
  padding: .5rem 0 .5rem;
}

#about .date {
  color: white;
  font-weight: bold;
  padding-bottom: .5rem;
}

#about .detail {
  font-weight: lighter;
}

#about .contact {
  padding-top: 1rem;
}

#about .contact a {
  font-family: "Montserrat", sans-serif;
  color: #83caf2;
  text-decoration: none;
  padding-top: 1rem;
}

#about .contact a:hover {
  color: white;
  text-decoration: underline;
}

#about .lien {
  font-family: "Montserrat", sans-serif;
  color: #83caf2;
  text-decoration: none;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  padding: .5rem 0;
}

#about .lien:hover {
  color: white;
  text-decoration: underline;
}

#about .menu a {
  display: block;
}

@media screen and (min-width: 0px) {
  #about .nom {
    padding-top: 3rem;
    margin-top: 4rem;
  }
  #about .menu {
    text-align: center;
    padding: 1rem 0 3rem;
  }
}

@media screen and (min-width: 768px) {
  #about .boite {
    padding: 0 2rem 0 .5rem;
    margin: 2rem 0 3rem 1rem;
  }
  #about .titre {
    text-transform: uppercase;
    color: #83caf2;
    padding: .5rem 0 1rem;
  }
  #about .menu {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: right;
    padding: 0;
  }
  #about .contact {
    padding-top: 2rem;
  }
  #about .nom {
    padding-top: 0;
    margin-top: 0;
  }
}

@media screen and (min-width: 992px) {
  #about {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
}
