@charset "UTF-8";
/*
  ./scss/style.scss
  Style - Fichier de surchage
  ------------------------------------------------------------------------------
 */
/*
   .scss/framework/_variables.scss
   Variables du framework
   ------------------------------------------------------------------------------
  */
/*----- POLICES -----*/
/*----- COULEURS -----*/
/*----- DIMENSIONS DES CONTENUS -----*/
/*----- MENU HORIZONTAL -----*/
/*----- MENU LATERAL -----*/
/*----- MENU HAMBURGER -----*/
/*----- MENU VERTICAL -----*/
/*----- MENU COVER -----*/
/*----- MENU - PAGINATION -----*/
/*----- BOITES -----*/
/*----- GRILLES -----*/
/*----- SLIDERS -----*/
/*----- FORMULAIRES -----*/
/*
  ./scss/framework/modules/_mixins.scss
  Module des mixins
  ------------------------------------------------------------------------------
 */
/*
  ./scss/framework/modules/_animations.scss
  Module des animations
  ------------------------------------------------------------------------------
 */
/*----- TYPES ANIMATIONS -----*/
/*-- Envol fusée --*/
.animationFusee:hover {
  animation: animationFusee 1000ms;
  opacity: 0;
  transition: opacity 0.4s ease 0.2s;
}

@keyframes animationFusee {
  0% {
    transform: translateX(2rem) translateY(3rem) translate(-50%, -50%);
  }
  100% {
    transform: translateX(16rem) translateY(-9.5rem) translate(-50%, -50%);
  }
}

/*-- Shake --*/
.animationShake:hover {
  animation: animationShake 100ms infinite;
}

@keyframes animationShake {
  0% {
    transform: translateX(40px) translateY(40px) translate(-50%, -50%);
  }
  100% {
    transform: translateX(50px) translateY(40px) translate(-50%, -50%);
  }
}

/*-- Boite sur image au survol --*/
.animation-boite-opacite a {
  position: relative;
  display: block;
}

.animation-boite-opacite .ecran {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 94%;
  background: #000 url("../media/zoom.png") center center no-repeat;
  z-index: 99;
  opacity: 0;
  transition: opacity .5s ease;
}

.animation-boite-opacite .ecran:hover {
  opacity: 0.5;
}

/*-- Animation du menu lateral au clique --*/
.animation-menu-lateral .top, .animation-menu-lateral .center, .animation-menu-lateral .bottom {
  transition: all 0.35s;
}

.animation-menu-lateral.active .top {
  top: 14px;
  transform: rotate(45deg);
  transition: all 0.5s;
}

.animation-menu-lateral.active .center {
  transform: rotate(-45deg);
  transition: all 0.5s;
}

.animation-menu-lateral.active .bottom {
  opacity: 0;
  transition: opacity 0.35s;
}

/* --- effet typewriter : curseur --- */
.curseur {
  border-right: .05em solid;
  animation: caret 1s steps(1) infinite;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}

/*-- Bonjour --*/
.bonjour {
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  text-align: center;
  position: absolute;
  color: #e6e6e6;
  font-family: "Montserrat", sans-serif;
  font-size: 10rem;
}

/*-- Animation du menu hamburger au clique --*/
.anim-menu-hamburger .top, .anim-menu-hamburger .center, .anim-menu-hamburger .bottom {
  transition: all 0.35s;
}

.anim-menu-hamburger.active .top {
  top: 14px;
  transform: rotate(45deg);
  transition: all 0.5s;
}

.anim-menu-hamburger.active .center {
  transform: rotate(-45deg);
  transition: all 0.5s;
}

.anim-menu-hamburger.active .bottom {
  opacity: 0;
  transition: opacity 0.35s;
}

/* ----------------------------------------------------
 SPECIFICATIONS GENERALES (valeurs par défaut)
 ----------------------------------------------------
*/
body {
  color: #000;
  font-family: "Raleway", sans-serif;
}

header {
  padding-top: 2rem;
}

main {
  padding-top: 4rem;
}

/* ----------------------------------------------------
   OBJETS PARTICULIERS
   ----------------------------------------------------
*/
.cache {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #FFF;
  z-index: 997;
}

#wrapper-header, #wrapper-footer {
  opacity: 0;
}

/*----- HEADER ----*/
#nom h1, #nom h2 {
  font-weight: lighter;
  z-index: 998;
  position: relative;
  display: block;
}

#menu {
  padding-top: .5rem;
}

/*----- MAIN ----*/
#imgProjet {
  opacity: 0;
  position: relative;
  width: auto;
  height: auto;
  margin: 0;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

#imgProjet:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

#detailProjet {
  opacity: 0;
  left: 5rem;
  position: relative;
}

@media screen and (min-width: 0px) {
  #detailProjet {
    padding-left: 0;
  }
}

@media screen and (min-width: 768px) {
  #detailProjet {
    padding-left: 2rem;
  }
}

@media screen and (min-width: 992px) {
  #detailProjet {
    padding-left: 3rem;
  }
}

#detailProjet .nomProjet {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
}

@media screen and (min-width: 0px) {
  #detailProjet .nomProjet {
    margin: 0 0 .5rem 0;
  }
}

@media screen and (min-width: 768px) {
  #detailProjet .nomProjet {
    margin: 1.5rem 0 .5rem 0;
  }
}

@media screen and (min-width: 992px) {
  #detailProjet .nomProjet {
    margin: 2.5rem 0 .5rem 0;
  }
}

@media screen and (min-width: 1200px) {
  #detailProjet .nomProjet {
    margin: 5rem 0 .5rem 0;
  }
}

#detailProjet .nombreProjet {
  color: #999999;
}

#detailProjet .description {
  padding-top: 1rem;
}

#detailProjet .bouton {
  border: 1px solid #999999;
  margin-top: 2rem;
  padding: .5rem .2rem;
  width: 150px;
  text-align: center;
  text-transform: uppercase;
}

#detailProjet .bouton a {
  color: #999999;
  text-decoration: none;
}

#detailProjet .bouton:hover {
  border: 1px solid #000;
}

#detailProjet .bouton:hover a {
  color: #000;
}

/*----- FOOTER ----*/
#pagination {
  position: relative;
  top: 0;
}

#pagination ul {
  list-style: none;
  padding: 0;
}

#pagination li {
  display: none;
  text-align: center;
  margin: 0 .1rem;
  padding-bottom: .5rem;
  width: 60px;
}

@media screen and (min-width: 0px) {
  #pagination ul li:first-of-type,
  #pagination ul li:last-of-type {
    display: inline-block;
    font-size: 3rem;
    font-weight: lighter;
    border: 1px solid #e6e6e6;
  }
  #pagination a {
    opacity: 1;
    text-decoration: none;
    color: #4d4d4d;
  }
  #pagination span {
    color: #e6e6e6;
  }
  #pagination li:hover {
    background: #0B486B;
  }
  #pagination li:hover a {
    color: #fff;
  }
  #pagination .disabled:hover {
    border: 1px solid #e6e6e6;
    background: none;
  }
  #pagination .disabled:hover span {
    color: #e6e6e6;
  }
}

@media screen and (min-width: 480px) {
  #pagination li {
    display: inline-block;
    border-bottom: 2px solid #cccccc;
  }
  #pagination ul li:first-of-type,
  #pagination ul li:last-of-type {
    display: none;
  }
  #pagination a {
    display: block;
    opacity: 0;
    -webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -ms-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
    font-weight: bold;
    text-decoration: none;
    color: #000;
  }
  #pagination li:hover {
    border-bottom: 2px solid #0B486B;
    background: none;
  }
  #pagination li:hover a {
    opacity: 1;
    color: #000;
  }
  #pagination li.active:hover {
    border-bottom: 1px solid #000;
  }
  #pagination .active {
    border-bottom: 1px solid #000;
  }
  #pagination .active span {
    color: #000;
  }
}

/*--- ABOUT ---*/
#about {
  padding-top: 10rem;
  color: white;
}

#about .nom, #about .web {
  margin-top: 0;
  margin-bottom: 0;
}

#about .web {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}

#about .lien {
  color: #6abdbd;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 2rem;
  margin-top: 0;
  margin-bottom: 0;
  padding: .5rem 0;
}

#about .lien:hover {
  color: white;
  text-decoration: underline;
}

#about .compte {
  margin-top: 3rem;
}

#about .compte a {
  font-size: 5rem;
  opacity: .5;
  padding-right: 2rem;
  color: white;
  text-decoration: none;
}

#about .compte a:hover {
  opacity: 1;
}

#about .titre {
  text-transform: uppercase;
  color: #b3b3b3;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

#about .date {
  color: white;
  font-weight: bold;
  padding-bottom: .5rem;
}

#about .detail {
  font-weight: lighter;
}

#about .contact {
  position: absolute;
  bottom: 5rem;
}

#about .contact a {
  color: #3B8686;
  text-decoration: none;
}

#about .contact a:hover {
  color: white;
  text-decoration: underline;
}

#about .menu {
  margin-top: 3rem;
  text-align: right;
}

#about .menu a {
  display: block;
}

#mesProjets {
  position: absolute;
  opacity: 0;
  z-index: 999;
  top: 70%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  border: 1px solid #b3b3b3;
  color: #b3b3b3;
  padding: 1rem;
  text-decoration: none;
  text-transform: uppercase;
}

#mesProjets:hover {
  border: 1px solid #0B486B;
  color: #0B486B;
}
