/*
  ./scss/framework/modules/_reset.scss
  Reset
  ------------------------------------------------------------------------------
 */

 * {
   box-sizing: border-box;
 }

  figure {
    margin: 0;
  }

  .grille-g img {
    width: 100%;
  }
