/*
  ./scss/framework/modules/_sliders.scss
  Module des sliders
  ------------------------------------------------------------------------------
 */

 /*----- Slider carousel -----*/
 .slider {
    border: $sliderBordCouleur $sliderBordDimension solid;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.slider ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  width: 300%;
  position: relative;
}
.slider li {
  flex-basis: 100%;
  position: relative;
}
.slider figure {
  margin: 0;
}
.slider img {
  width: 100%;
  display: block;
}
.slider .caption {
  position: absolute;
  top : 5%;
  left: 15%;
  width: 100%;
  max-width: 650px;
  line-height: 180%;
  h1 {
    display: inline-block;
    background: $couleurNeutre;
    color: $couleur2;
    padding: .4em .7em;
    border-radius: 15px 0 15px 0;
    margin-bottom: 0;
  }
  p {
    background: $couleur2;
    color: $couleurNeutre;
    padding: .4em .7em;
    border-radius: 5px;
    line-height: 150%;
    margin-bottom: 1rem;
    >a {
      color: $couleurNeutre;
      text-decoration: none;
      &:hover {
        color: $couleurNeutre;
      }
    }
  }
  /*Pour les écrans larges (à partir de 992px)*/
  @media only screen and (min-width: 992px) {
      top : 8%;
      left : 10%;
      max-width: 850px;
  }
  /*Pour les écrans xlarges (à partir de 1200px)*/
  @media only screen and (min-width: 1200px) {
      top : 9%;
      left: 15%;
      max-width: 450px;
      .bouton {
        display: inline-block;
      }
  }
}
