/*
  ./scss/style.scss
  Style - Fichier de surchage
  ------------------------------------------------------------------------------
 */

@import 'framework/variables';
@import 'framework/modules/mixins';
@import 'framework/modules/animations';

/* ----------------------------------------------------
 SPECIFICATIONS GENERALES (valeurs par défaut)
 ----------------------------------------------------
*/

  body {
    color: $couleurNeutre;
    font-family: $policePrincipale;
    margin: 0;
  }

  header {
    padding-top: 2rem;
  }

  main {
    padding-top: 4rem;
  }

  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }

/* ----------------------------------------------------
   OBJETS PARTICULIERS
   ----------------------------------------------------
*/

.cache{
	width:100%;
	height:100%;
	position: fixed;
	background-color:#FFF;
	z-index:997;
}
// #wrapper-header,
// #wrapper-footer {
// 	opacity:0;
//
// }
// #wrapper-main {
//   opacity: 0;
//
// }


/*----- HEADER ----*/

#nom {
  h1, h2 {
    z-index: 998;
    position: relative;
    display: block;
  }
}

#menu {
  padding-top: .5rem;
}

/*----- MAIN ----*/

  .imgProjet {
    //opacity: 0;
    position: relative;
    width: 100%;
    height: auto;
    margin: 0;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    &:hover {
      -webkit-transform: scale(1.05);
      transform: scale(1.05);
    }
  }

  #detailProjet {
    //opacity: 0;
    //left: 5rem;
    position: relative;
    @media screen and (min-width: 0px) {
      padding-left: 0;
    }
    @media screen and (min-width: 768px) {
      padding-left: 2rem;
    }
    @media screen and (min-width: 992px) {
      padding-left: 3rem;
    }
    // @media screen and (min-width: 1200px) {
    //   padding-left: 3.5rem;
    // }
    .nomProjet {
      font-family: $policeSecondaire;
      font-weight: 900;
      text-transform: uppercase;
      @media screen and (min-width: 0px) {
        margin: 0 0 .5rem 0;
      }
      @media screen and (min-width: 768px) {
        margin: 1.5rem 0 .5rem 0;
      }
      @media screen and (min-width: 992px) {
        margin: 2.5rem 0 .5rem 0;
      }
      @media screen and (min-width: 1200px) {
        margin: 5rem 0 .5rem 0;
      }
    }
    .nombreProjet {
      color: $couleurNeutre60;
    }
    .description {
      padding-top: 1rem;
    }
    .bouton {
      border: 1px solid $couleurNeutre60;
      margin-top: 2rem;
      padding: .5rem .2rem;
      width: 150px;
      text-align: center;
      text-transform: uppercase;
      a {
        color: $couleurNeutre60;
        text-decoration: none;
      }
    }
    .bouton:hover {
      border: 1px solid $couleurNeutre;
      a {
        color: $couleurNeutre;
      }
    }
  }

/*----- FOOTER ----*/

  #wrapper-footer {
    ul {
      list-style: none;
    text-align: center;
    }
    li {
      display: inline-block;
      text-align: center;
      font-size: 2rem;
      padding: 0 1em;
      font-family: $policeSecondaire;
    }
    a {
      text-decoration: none;
      color: $couleurNeutre30;
    }
  }
  #pagination {
    position: relative;
    bottom: 3rem;
    ul {
      list-style: none;
      padding: 0;
    }
    li {
      display: none;
      text-align: center;
      margin: 0 .1rem;
      padding: .5rem 0;
      width: 10px;
    }
    @media screen and (min-width: 0px) {
      ul li:first-of-type,
      ul li:last-of-type {
        display: inline-block;
        font-size: 3rem;
        font-weight: lighter;
        border: 1px solid $couleurNeutre90;
      }
      a {
        opacity: 1;
        text-decoration: none;
        color: $couleurNeutre30;
      }
      span {
        color: $couleurNeutre90;
      }
      li:hover {
        background: $couleur1;
        a {
          color: #fff;
        }
      }
      .disabled:hover {
        border: 1px solid $couleurNeutre90;
        background: none;
        span {
          color: $couleurNeutre90;
        }
      }
    }
    @media screen and (min-width: 480px) {
      li {
        display: inline-block;
        border-right: 2px solid $couleurNeutre80;
      }
      ul li:first-of-type,
      ul li:last-of-type {
        display: none;
      }
      a {
        display: block;
        opacity: 0;
        -webkit-transition: opacity .5s ease-in-out;
        -moz-transition: opacity .5s ease-in-out;
        -ms-transition: opacity .5s ease-in-out;
        -o-transition: opacity .5s ease-in-out;
        transition: opacity .5s ease-in-out;
        font-weight: bold;
        text-decoration: none;
        color: $couleurNeutre;
      }
      li:hover {
        border-right: 2px solid $couleur1;
        background: none;
        width: 30px;
        a {
          opacity: 1;
          color: $couleurNeutre;
        }
      }
      li.active:hover {
        border-right: 1px solid $couleurNeutre;
      }
      .active {
        border-right: 1px solid $couleurNeutre;
        width: 30px;
      }
      .active span {
        color: $couleurNeutre;
      }
    }
  }

  /*--- ABOUT ---*/

    #about {
      // position: absolute;
      // top: 50%;
      // left: 50%;
      // transform: translateX(-50%) translateY(-50%);
      color: $couleurNeutre100;
      span {
        font-family: $policePrincipale;
      }
      .nom, .web {
        margin-top: 0;
        margin-bottom: 0;
      }
      .web {
        text-transform: uppercase;
      }

      .boite {
        padding: .5rem;
        margin: 2rem 1rem;
        i {
         color: $couleur1Claire;
          font-size: .8rem;
          padding-top: 1rem;
          border: 1px solid $couleur1Claire;
          border-radius: 20px;
          padding: .5rem;
        }
        .padd1 {
          padding: 1rem 0 0;
          color: $couleurNeutre70;
        }
        .padd2 {
          padding: 1rem 0 2rem;
        }
      }
      .titre {
        font-size: 1.1rem;
        text-transform: uppercase;
        color: $couleur1Claire;
        padding-top: 1rem;
      }
      .date {
        color: $couleurNeutre100;
        font-weight: bold;
        padding-bottom: .5rem;
      }
      .detail {
        font-weight: lighter;
      }
      .contact {
        padding-top: 2rem;
        a {
          font-family: $policeSecondaire;
          color: $couleur2Claire;
          text-decoration: none;
          padding-top: 1rem;
          font-size: 1.2rem;
        }
        a:hover {
          color: $couleurNeutre100;
          text-decoration: underline;
        }
      }
      .lien {
        // position: relative;
        // top: 50%;
        // transform:  translateY(-50%);
        font-family: $policeSecondaire;
        color: $couleur2Claire;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 1.5rem;
        margin-top: 0;
        margin-bottom: 0;
        padding: .5rem 0;
        &:hover {
          color: $couleurNeutre100;
          text-decoration: underline;
        }
      }
      .menu {
        text-align: right;
        a {
          display: block;
        }
      }
    }

    #mesProjets {
      position: absolute;
      opacity: 0;
      z-index: 999;
      top: 70%;
  		left: 50%;
  		transform: translateX(-50%) translateY(-50%);
      border: 1px solid $couleurNeutre70;
      color: $couleurNeutre70;
      padding: 1rem;
      text-decoration: none;
      text-transform: uppercase;
      &:hover {
        border: 1px solid $couleur1;
        color: $couleur1;
      }
    }

    #slider {
      overflow:hidden;
    }

    .slide {
      float:left;
      margin: 1rem 0;
    }
